<div class="container pt-5 pb-3">
	<div class="row">
		<div class="col-lg-8">
			<div class="row pb-3">
				<div class="col">
					<h3 class="text-black">Purushottam Parthasarathy</h3>
				</div>
			</div>

			<div class="row mt-3 mb-4 text-center">
				<div class="col-xl-6">
					<div class="row">
            
            <div class="col">
							<a class="nav-link onHoverDark activeCustom" href="/" *ngIf="active === '/home'">Home</a>
							<a class="nav-link onHoverDark inactiveCustom" href="/" *ngIf="active !== '/home'">Home</a>
						</div>
            
            <div class="col">
							<a class="nav-link onHoverDark activeCustom" href="/birds" *ngIf="active === '/birds'">Birds of Mumbai</a>
							<a class="nav-link onHoverDark inactiveCustom" href="/birds" *ngIf="active !== '/birds'">Birds of Mumbai</a>
						</div>
						
					</div>
				</div>
				<div class="col-xl-6">
					<div class="row">
						
						<div class="col">
							<a class="nav-link onHoverDark activeCustom" href="/contact" *ngIf="active === '/contact'">Contact</a>
							<a class="nav-link onHoverDark inactiveCustom" href="/contact" *ngIf="active !== '/contact'">Contact</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
    <div class="col-lg-4 pt-5">
			<div class="row py-5 px-4 bg-light mb-5 shadow mx-1">
				<div class="col text-center">
					<img class="pb-5" src="assets/kashid_fort.JPG" width="100%" style="max-width: 200px">
					<p>
						Hi there! PPS here. Recently been interested in the birds of India (and Mumbai specifically!). <br>
	 					<br>
						I will be posting pictures of our feathered friends here. Stay tuned! <br>
					</p>
				</div>
			</div>

			<div class="row pt-5 pb-3 pl-3 bg-light mb-5 shadow mx-1">
				<div class="col">
					<h5 class="pb-2"><b>Contact Information</b></h5>
					<p>
						<a href="mailto:purusarathy@gmail.com"><strong>Gmail : </strong> purusarathy@gmail.com</a><br><br>
						<a href="https://www.linkedin.com/in/"><strong>LinkedIn</strong> </a><br><br>
						<a href="tel:+91 637926XXXX"><strong>Don't Call: +91 637926XXXX</strong> </a>
					</p>
				</div>
			</div>
    </div>
  </div>
</div>